
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1.5em;
  padding: 10px 40px;
  background: #34495e;

}

.nav a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

.users-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5em;
  padding: 10px 40px;
  flex-wrap: wrap;
}

.users-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.users-wrapper li {
  text-align: center;
}

.home input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Pagination */
.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 10px 40px;

}

.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination button.active {
  background-color: #2980b9;
  color: white;
  border: 1px solid #2980b9;
}

.pagination a:hover:not(.active) {background-color: #ddd;}