
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1.5em;
  padding: 10px 40px;
  background: #34495e;

}

.nav a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

.users-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5em;
  padding: 10px 40px;
  flex-wrap: wrap;
}

.users-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.users-wrapper li {
  text-align: center;
}